#page-mod-whiteboard-view .whiteboard-embed {
    height: 600px;
    width: 100%;
}

#page-mod-whiteboard-view #whiteboardiframe {
    height: 600px;
    width: 100%;
    border: 0px;
}

#page-mod-whiteboard-view div[role=main] {
    display: flex;
}

#page-mod-whiteboard-view a.whiteboardbutton {
    display: block;
    margin: 50px auto;
    width: 150px;
}